@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f4f4ed;
  --color-primary: dodgerblue; /* SeaGreen */
  --color-primary-alpha: #1e90ff80; /* SeaGreen with alpha */
  --color-hover: #1e90ff10;
  --color-title: #333333;
  --color-body: #555555;
  --font-default: initial;
  --font-sans: Excon, sans-serif;
  --font-serif: Erode, serif;
}

.dark {
  --color-bg: #0a0a0a;
  --color-primary: #afbbf2; /* SeaGreen */
  --color-primary-alpha: #afbbf280; /* SeaGreen with alpha */
  --color-hover: #afbbf210;
  --color-title: #e0e0e0;
  --color-body: #cccccc;
}
