@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f4f4ed;
  --color-primary: dodgerblue;
  --color-primary-alpha: #1e90ff80;
  --color-hover: #1e90ff10;
  --color-title: #333333;
  --color-body: #555555;
  --font-default: initial;
  --font-sans: Excon, sans-serif;
  --font-serif: Erode, serif;
  --color-audio-text: #333333;
}

.dark {
  --color-bg: #0a0a0a;
  --color-primary: #4fe294;
  --color-primary-alpha: #4fe29480;
  --color-hover: #afbbf210;
  --color-title: #e0e0e0;
  --color-body: #cccccc;
  --color-audio-text: #e0e0e0;
}

/* Basic styling for the audio element */
audio {
  height: 54px;
  border-radius: 8px;
  background-color: var(--color-bg);
}

/* For Chrome/Safari */
audio::-webkit-media-controls-panel {
  background-color: var(--color-bg);
}

audio::-webkit-media-controls-play-button {
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  color: var(--color-audio-text);
}

/* For Firefox */
audio::-moz-range-thumb,
audio::-webkit-media-controls-volume-slider {
  background-color: var(--color-primary);
}

.dark audio::-moz-range-track {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Ensure buttons have proper contrast in dark mode */
.dark audio::-webkit-media-controls-mute-button,
.dark audio::-webkit-media-controls-play-button,
.dark audio::-webkit-media-controls-volume-slider-container,
.dark audio::-webkit-media-controls-volume-slider,
.dark audio::-webkit-media-controls-seek-back-button,
.dark audio::-webkit-media-controls-seek-forward-button,
.dark audio::-webkit-media-controls-fullscreen-button,
.dark audio::-webkit-media-controls-toggle-closed-captions-button {
  filter: invert(1) hue-rotate(180deg);
}
