---
import Layout from '../layouts/Layout.astro';
import socialsJson from "../constants/socials.json"
import { RiArrowRightUpLine } from "react-icons/ri";
import Card from "../components/react/Card";
import { FaLinkedin, FaGithub, FaTwitter } from "react-icons/fa";
import { MdEmail } from "react-icons/md";
import { SiInstagram, SiSpotify } from "react-icons/si";

const socials = socialsJson;

const iconComponents = {
  linkedin: FaLinkedin,
  github: FaGithub,
  twitter: FaTwitter,
  email: MdEmail,
  instagram: SiInstagram,
  spotify: SiSpotify,
};
---

<Layout>
	<h1 class="text-[1.75rem] font-serif tracking-tight text-primary  font-bold">
		Wiley McKay Conte
	</h1>
	<div class="flex items-center gap-2 font-medium tracking-tight">
		<h2 class="text-sm text-title dark:text-darkTitle">professional programmer</h2>
		
	</div>

	<p class="pt-4 text-sm font-light">
		Welcome to my website. I am the cofounder of <a href="https://populist.us" class="underline decoration-dotted hover:text-primary">Populist</a>, a govtech platform that does the challenging work of sourcing, structuring, linking, and delivering high quality data about democratic elections. Our mission is to make civic information more easily accessible for both citizens and organizations.
	</p>

	<div class="w-fit grid grid-cols-3 gap-2 pt-4 tracking-tight md:flex md:flex-row md:items-start">
		{
			socials.map((social) => {
			const IconComponent = iconComponents[social.icon.toLowerCase()];

			return  (
				<a
					href={social.url}
					target={social.target}
					rel={social.target === "_blank" ? "noopener noreferrer" : undefined}
					class="group flex items-center underline-offset-4 transition duration-150 ease-in-out md:hover:text-primary md:hover:underline">
					  {IconComponent ? <IconComponent size={14} className="mr-1.5" /> : <span>{social.name}</span>}
					<span class="text-sm">{social.name}</span>
					<RiArrowRightUpLine className="opacity-0 transition-opacity duration-150 md:group-hover:opacity-100" />
				</a>
			)
		})
		}
	</div>

	<section class="pt-8">
	<h2 class="font-medium tracking-tight text-title dark:text-darkTitle">Explore</h2>
	<Card project={{ id: 1, title: "Populist", description: "Civic engagement as a service", link: "https://populist.us", tags: ["open source"] }} />
	<Card project={{ id: 2, title: "Driift", description: "Livestreamed interactive concerts", link: "https://driift.live/shows" }} />
	<Card project={{ id: 2, title: "Uptime", description: "Real time endpoint monitoring", link: "https://github.com/wileymc/uptime", tags: ["open source"] }} />
	<Card project={{ id: 2, title: "MidiGPT", description: "LLM powered MIDI file generator", link: "https://midigpt.xyz", tags: ["open source"] }} />
	
</Layout>
