---
import { getCollection, render } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
	const notes = await getCollection("notes");
	return notes.map((note: any, index: number) => ({
		params: { slug: note.data.slug },
		props: {
			note,
			prev: index > 0 ? notes[index - 1] : null,
			next: index < notes.length - 1 ? notes[index + 1] : null,
		},
	}));
}

const { note } = Astro.props;

const { Content } = await render(note);

const { title, description, image, date, country, tags } = note.data;

if (!note) {
	return { status: 404 };
}

---

<Layout title={`Wiley McKay Conte • ${title}`}>

    <section class="pt-4">
        <div class="font-sans">
            <h1 class="text-[1.75rem] font-serif tracking-tight text-primary  font-bold">
                {note.data.title}
            </h1>
    
            <p class="text-title mb-2 text-base font-medium tracking-tight">
                {note.data.excerpt}
            </p>

            <ul class="flex flex-wrap mt-2">
                {tags.map(tag => (
                    <li class="mr-1 mb-1 px-1 py-0.5 rounded bg-primary/30 text-black dark:text-white text-xs">
                        {tag}
                    </li>
                ))}
            </ul>
    
            <p class="text-body text-sm font-normal">
                {
                    new Date(note.data.date).toLocaleDateString("en-US", {
                        day: "numeric",
                        month: "short",
                        year: "numeric",
                    })
                }
            </p>
    
            <article
                class="mt-8 prose prose-sm prose-headings:mt-4 prose-headings:mb-2 prose-headings:text-[1.5rem] prose-headings:text-title dark:prose-headings:text-darkTitle prose-a:text-primary prose-a:underline-offset-4 prose-blockquote:text-title dark:prose-blockquote:text-darkTitle prose-strong:text-body dark:prose-strong:text-darkBody prose-code:p-1.5 prose-code:text-[12px] prose-pre:text-wrap prose-pre:rounded-md prose-li:marker:text-body prose-img:h-auto prose-img:max-w-full prose-img:rounded-md prose-img:border prose-img:border-body/20 prose-hr:border-primary/30 dark:prose-hr:border-white/10 ">
                <div class="text-body dark:text-darkBody font-normal">
                    <Content />
                </div>
            </article>
        </div>
    </section>
</Layout>