---
import "../styles/global.css";
import { AstroFont } from "astro-font";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import Metadata from "../components/Metadata.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bg dark:bg-bg-dark">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Wiley McKay Conte - A simple website" />
		<meta name="viewport" content="width=device-width" />
		<script type="module">
			import 'https://esm.sh/css-doodle'
		</script>
		<Metadata
			slot="head"
			title="Wiley McKay Conte"
			description="My space"
			image={`${import.meta.env.SITE}/og.png`}
			canonicalUrl={import.meta.env.SITE}
			type="website"
		/>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
			config={[
				{
					name: "Excon",
					src: [
						{
							style: "normal",
							weight: "100 200 300 400 500 600 700 800 900",
							path: "./public/fonts/Excon-Variable.ttf",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
				{
					name: "Erode",
					src: [
						{
							style: "normal",
							weight: "400 500 600",
							path: "./public/fonts/Erode-Variable.ttf",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "serif",
				},
			]}
		/>
	</head>
	<body
		class="text-body dark:text-darkBody selection:bg-primary dark:selection:bg-darkPrimary selection:text-hover dark:selection:text-darkhover mx-auto my-8 max-w-[400px] px-4 md:my-16 md:max-w-[669px]">
		<main class="font-sans">
			<Nav />
			<slot />
			<Footer />
		</main>
		<ClientRouter />
	</body>
</html>